.App {
  font-family: sans-serif;
  text-align: center;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.grid {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
